.vscode/
__pycache__/
draft.py
draft.txt
draft.bat
draft/
draft_mp.py/
images/
log/

# track sklearn.manifold.TSNE
myvenv/*
!myvenv/Lib/
myvenv/Lib/*
!myvenv/Lib/site-packages
myvenv/Lib/site-packages/*
!myvenv/Lib/site-packages/sklearn
myvenv/Lib/site-packages/sklearn/*
!myvenv/Lib/site-packages/sklearn/manifold/