.vscode/
__pycache__/
draft.py
draft.txt
draft.bat
draft_mp.py
todo_list.txt
draft/
draft_mp.py 
todo_list.txt
images/
log/
.log
myvenv/
datasets/lfr_*/
datasets/twitch_gamers/
datasets/dblp/
datasets/youtube_community/
datasets/livejournal/
large_datasets.*